<div style="text-align: right;background-color:#EDEDED;" >SGB</div>
    <nav id="menu">
    <ul>
        <li><a href="/contratacao">Contratação de Serviços</a></li>
        <li><a href="/transferencia">Transação bancaria</a></li>
        <li><a href="/login">Inicio</a></li>
    </ul>
</nav>