<app-transacao></app-transacao>
    <div class="myDiv">
        <div class="col-12">
            <h2 style="text-align: center;"> Escolha o pacote de serviços</h2>
        <div class="row">
            <label for="password">Cliente</label>
            <select  name="manager" id="cliente" [(ngModel)]="cliente" class="form-control" (change)="onChange($event)" required>
                <option disabled value="">Escolha o cliente</option>
                <option *ngFor="let p of clientes" [ngValue]="p.value">
                {{p.text}}
                </option>
            </select>
            Pacote atual:
            <input id="pacAtual"[ngModel]="pacAtual" name="fname"><br><br>
        </div>
        <div class="row">
            <label for="password">Tipo</label>
            <select  name="manager" id="pacote" [(ngModel)]="pacote" class="form-control" (change)="onChange($event)" required>
                <option disabled value="">Escolha o pacote de serviços</option>
                <option *ngFor="let p of pacotes" [ngValue]="p.value">
                {{p.text}}
                </option>
            </select>
        </div>
        <div style="padding-left: 50px;">
            <button style="width: 250px;" (click)="onSubmit()" class="btn btn-primary">
                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                Salvar
            </button>
        <div style="color: green;" *ngIf="foiSalvo">
            Salvo!
        </div>
        </div>
        
    </div>
</div>
