.myDiv {
  border: 5px outset rgb(17, 3, 49);
  background-color: lightblue;
  text-align: left;
  height: 35em;
}
label {
  text-align: right;
  width: 100px;
  display: block;
  float: left;
  clear: left;
  margin-right: 3px;
  cursor: pointer
}