<app-transacao></app-transacao>

<div class="myDiv">
    <div class="col-12">
        <h2 style="text-align: center;"> Transferencia </h2>
    <div class="row">
        <label for="password">Origem: </label>
        <select  name="manager" id="cliente" [(ngModel)]="clienteOri" class="form-control" (change)="onChange($event)" required>
            <option disabled value="">Escolha o cliente</option>
            <option *ngFor="let p of clientes" [ngValue]="p.value">
            {{p.text}}
            </option>
        </select>
        Saldo:
        <input id="saldo"[ngModel]="saldo" name="fname"><br><br>

    </div>
    <div class="row">
        <label for="password">Destino: </label>
        <select  name="manager" id="cliente" [(ngModel)]="clienteDest" class="form-control" (change)="onChange($event)" required>
            <option disabled value="">Escolha o cliente</option>
            <option *ngFor="let p of clientes" [ngValue]="p.value">
            {{p.text}}
            </option>
        </select>
    </div>
    <div class="row">
        <label for="password">Valor</label>
        <input id="valor"[ngModel]="valor" name="fname"><br><br>
    </div>
    <div style="padding-left: 50px;">
        <button style="width: 250px;" (click)="onSubmit()" class="btn btn-primary">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
            Salvar
        </button>
    <div style="color: green;" *ngIf="foiSalvo">
      OK!
    </div>
    </div>
    
</div>
</div>
