<router-outlet></router-outlet>

<form class="myDiv" *ngIf="ativo">
      <h2 class="font">Login</h2>
    <div class='col-12'>
        <div class="col-4">
            <label for="username">Username</label>
            <input [(ngModel)]="nome" [ngModelOptions]="{standalone: true}"type="text" class="form-control"/>
        </div>
        <div class="col-4">
            <label for="password">Password</label>
            <input [(ngModel)]="senha" [ngModelOptions]="{standalone: true}"type="password" class="form-control"/>
        </div>
        <div class="col-4">
            <button (click)="onSubmit()" class="btn btn-primary">
                Login
            </button>
            <a routerLink="/menu" class="btn btn-link">Register</a>
            <a *ngIf="!logou && logando" style="color: red;">Usuario nao encontrado</a>
            <button routerLink="/menu" *ngIf="logou" style="color: green;" (click)="onSubmit()" class="btn btn-primary">
                Login feito! Entrar
            </button>
        </div>
    </div>
</form>